services:
  auth:
    build: .
    container_name: auth-service
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
      - worker

  worker:
    build: .
    container_name: auth-worker
    env_file: .env
    environment:
      CLAMAV_HOST: clamav
    depends_on:
      - redis
      - clamav
    command: celery -A app.celery_app worker -Q media,email,default -l info

  beat:
    build: .
    container_name: auth-beat
    env_file: .env
    depends_on:
      - redis
      - db
    command: celery -A app.celery_app beat -l info

  clamav:
    image: clamav/clamav:stable
    container_name: clamav
    environment:
      - CLAMD_STARTUP_TIMEOUT=120000
    # ports:
    #   - "3310:3310"
    volumes:
      - clamav-db:/var/lib/clamav

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  pgdata:
  clamav-db:
